@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {    
    --ocean: #404BBF;
    --iris: #4D5AE5;    
    --dark: #2E2F42;    
    --text: #434455;    
    --light: #F4F4FD; 
    --white: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
html,
body,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: #FFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text);
}

a:hover,
a:focus {
    color: var(--ocean);
}

button {
    cursor: pointer;
}

.logo {
    color: var(--iris);
    font-family: Raleway, sans-serif;    
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 0;
    font-weight: 800;
    font-size: 18px;
    display: inline-block;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation .logo {
    margin-right: 76px;
}

.logo .studio {
    color: var(--dark);
}

.studio-footer{
    color: var(--light);
}

.nav-list {
    display: flex;
}

.nav-list .list-item .nav-link {
    padding: 24px 0;
    display: inline-block;
}

.nav-list .list-item:not(:last-child),
.address .address-item:not(:last-child) {
    margin-right: 40px;
}

.nav-link {
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--ocean);
}

.address {
    font-style: normal;
    display: flex;
    align-items: center;    
}

.address-link {
    color: var(--text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: var(--ocean);
}

.navigation {    
    display: flex;
    align-items: center;
}

.section {
    padding: 120px 0;
}

.hero-image {     
    background: var(--dark);         
    text-align: center;
    padding: 188px 0;        
}

.hero-image button {
    padding: 16px 32px;
}

.button {
    font-size: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    background-color: var(--iris);
    color: var(--white);
    padding: 12px 24px;
    border: 1px solid var(--iris);
    border-radius: 4px;
}

.button:hover,
.button:focus {
    background-color: var(--ocean);
    border: 1px solid var(--ocean);
}

.btn {    
    background-color: var(--light);
    border: 1px solid #E7E9FC;
    color: var(--iris);
    border-radius: 4px;
}

.btn:hover,
.btn:focus {
    background-color: var(--ocean);
    border: 1px solid var(--ocean);
    color: var(--white);
}

.main-header{        
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    max-width: 500px;
    margin: 0 auto 48px auto;
}

.header-scnd {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    text-align: center;
    color: var(--text);
}

.header-thrd {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text);
}

.section-adv {
    padding-bottom: 0;
}

.adv-list .card {
    flex-basis: 264px;
}

.adv-list .card .card-body {
    padding: 0;
}

.section-team{
    background-color: var(--light);
}

.section-team .img{
    background-color: var(--white);
}

.team li{
    text-align: center;
    box-shadow: 0 2px 6px rgba(46, 47, 66, 0.16);
}

.portfolio {
    padding-top: 96px;
}

.images {
    row-gap: 48px;
}

.btn-list {
    justify-content: center;
    margin-bottom: 72px;
}

.adv-list,
.projects,
.team,
.images,
.btn-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.card {
    background-color: var(--white);
}

.card .card-body {
    padding: 32px 16px;
}

.card .card-body .header-thrd {
    margin-bottom: 8px;
}

.images .card-body {
    border: 1px solid #E7E9FC;
    border-top: none;
}

.footer-section {    
    background-color: var(--dark);
    padding: 100px 0;
    color: var(--white);
}

footer .logo {
    display: inline-block;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

footer .studio {
    color: var(--light);
}

.footer-text  {   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
    max-width: 264px;
}