@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {    
    --ocean: #404BBF;
    --iris: #4D5AE5;    
    --dark: #2E2F42;    
    --text: #434455;    
    --light: #F4F4FD; 
    --white: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text);
    background-color: #FFF;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text);
}

a:hover,
a:focus {
    color: var(--ocean);
}

button {
    cursor: pointer;
}

.logo {
    color: var(--iris);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

.logo .studio {
    color: var(--dark);
}

.studio-footer{
    color: var(--light);
}

.nav-link {
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--ocean);
}

.address-link {
    color: var(--text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
    color: var(--ocean);
}

.hero-image {     
    background: var(--dark);
}

.button {
    font-size: inherit;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    background-color: var(--iris);
    color: var(--white);
}

.button:hover,
.button:focus {
    background-color: var(--ocean);
}

.btn {
    background-color: #E7E9FC;
    color: var(--iris);
}

.btn:hover,
.btn:focus {
    background-color: var(--ocean);
    color: var(--white);
}

.main-header{        
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.header-2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--text-color)
}

.header-3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

.footer-section {    
    background-color: var(--dark);
}

footer .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

footer .studio {
    color: var(--light);
}

.footer-text  {   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;
    color: var(--light);
}